@media (max-width: 1200px) {

    .card, .card:nth-child(1), .card:nth-child(2) {
        width: 100%;
    }

    .countries {
        /* transform: translateY(-70px); */
    }
}

@media (max-width: 1020px) {
    .countries {
        /* transform: translateY(-50px); */
    }
}

@media (max-width: 920px) {

    .card, .card:nth-child(1), .card:nth-child(2) {
        width: 100%;
    }
}


@media (max-width: 768px) {

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .map{
        margin: 40px 0;
    }

    .countries {
        transform: translateY(0);
    }

    .card {
        width: 100%;
    }

    .card__subtitle {
        color: #404040;
    }

    .card__icon {
        width: 32px;
    }

}



