* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F9FA;
    font-family: 'DM Sans';
}

.container {
    max-width: 70%;
    margin: 0 auto;
}



.header__title {
    font-size: clamp(28px, 5vw, 48px);
    font-weight: 700;
    line-height: clamp(28px, 5vw, 48px);
    letter-spacing: -0.03em;
    text-align: center;
}



.header__subtitle {
    margin-top: clamp(16px, 3vw, 24px);
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
}

.countries {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: start;
    transform: translateY(clamp(-170px, -10vw ,-50px));
    /* display: grid; */
}

.card {
    background: #FFF;
    color: #0A0A0A;
    padding: 24px;
    font-size: clamp(16px, 5vw, 18px);
    border-radius: 20px;
    column-gap: 12px;
    box-shadow: 0px 0px 40px 0px #2C3B4026;
    width: clamp(310px, 22.15vw, 500px);
    order: 1,
}

.card-large {
    order: 1.5
}

.card:nth-child(1),
.card:nth-child(2) {
    width: clamp(310px, 34vw, 700px);

}


.card__icon {
    width: clamp(32px, 3vw, 40px);
}

.card__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(8px, 1vw, 12px);
}

.card__title h3 {
    font-size: clamp(20px, 5vw, 28px);

}

.card__subtitle {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
}

.card__description {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #9E9E9E;
    margin-top: clamp(8px, 1vw, 12px);
}